<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Register</title>
    
</head>

<body>
    <h1>CRUD Operation</h1>
    {% block content %}
    {% endblock content %}
</body>

</html>