{% extends "crud/base.html" %}


{% block content %}
<style>
    table, th, td {
    border: 1px solid black;
  }
</style>

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Emp code</td>
            <td></td>
            <td>
                <a href="{% url 'employee_insert' %}"><button>Insert Employees</button></a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for employee in employee_list %} 
        <tr>
            <td>{{employee.fullname}}</td>
            <td>{{employee.emp_code}}</td>
            <td>
               <a href="{% url 'employee_update' employee.id %}"><button>Edit</button></a>
               </td><td>
               <form action="{% url 'employee_delete' employee.id %}" method="post">
                {% csrf_token %}
                <button type="submit">
                   Delete
                </button>
            </form>
                 </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock content %}