{% extends "crud/base.html" %}


{% block content %}
<form action="" method="post" autocomplete="off">
    {%csrf_token%}
    {{form}}
    <button type ="submit"> Create Employee</button>
    <a href="{% url 'employee_list' %}">View Employees List</a>

</form>


{% endblock content %}